.container {
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    padding: 0 15px;
  }
}
