:root {
  --main-font: 'Titan One', cursive;
  --secondary-font: 'DM Sans', sans-serif;
  --accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --section-text-color: #907e82;
  --primary-background-color: #ffffff;
  --background-color: #fff5f6;
  --background-color-hero: #ffb8ca;
  --mobile-menu-bg-color: #e17992;
  --milkshake-bg-color: #c2e297;
  --icecoffe-bg-color: #f0d1a5;
  --social-icon-color: #fea5bb;
  --customer-reviews: #e1e1e1;
  --dots-color: #d9d9d9;
  --quotes-icon-color: #e1e1e1;
  --burger-icon-color: #d41443;
}
