<section class="about">
    <div class="container">
        <span class="about_label">tradition and love</span>
        <h2 class="about_title">how it’s made?</h2>

        <picture>
            <source srcset="./images/mobile/about-bio-eco_mob-min.png 1x, ./images/mobile/about-bio-eco_mob@2x-min.png 2x" media="(max-width: 480px)" type="image/png"> </source>
            <source srcset="./images/tablet/about-bio-eco_tablet-min.png 1x, ./images/tablet/about-bio-eco_tablet@2x-min.png 2x" media="(max-width: 1079px)" type=""> </source>
            <img 
             srcset="./images/desktop/about-bio-eco_desktop-min.png 1x, ./images/desktop/about-bio-eco_desktop@2x-min.png 2x" 
             src="./images/desktop/about-bio-eco_desktop-min.png" alt="">
        </picture>
        
        <ul class="about_list list">
            <li class="about_item">
                <p class="about_text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            </li>
            <li class="about_item">
                <p class="about_text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <br> 
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.</p>
            </li>
        </ul>
        
        <button type="button" class="about_button">Read more</button>
        
    </div>
    
</section>