<section class="about">
    <div class="container">
        <span class="about_label">tradition and love</span>
        <h2 class="about_title">how it’s made?</h2>
        <img src="" alt="">
        <p class="about_text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="about_text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        
        
            Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about_button">Read more</button>
        
        <ul class="about_list">
            <li class="about_item">
                <img src="" alt="">
                <span></span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about_item">
                <img src="" alt="">
                <span></span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about_item">
                <img src="" alt="">
                <span></span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
    
</section>