<section class="page-advantages">
    <h2 class="visually-hidden">Преимущества</h2>

    <div class="container">
        <ul class="advantages list">
            <li class="advantages__item">
                <div class="advantages__logo">
                    <img class="advantages__img" src="./images/icon1about.png" alt="milk" width="33px" height="50px">
                </div>
                <p class="advantages__title">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__logo">
                    <img class="advantages__img" src="./images/icon2about.png" alt="apple" width="50px" height="50px">
                </div>
                <p class="advantages__title">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__logo">
                    <img class="advantages__img" src="./images/icon3about.png" alt="candy" width="44px" height="50px" >
                </div>
                <p class="advantages__title">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

        </ul>
    </div>


</section>