<!-- Contacts -->
<section id="contact" class="contacts">
    <div class="container contacts_container">
<h2 class="visually-hidden">Contacts</h2>
<ul class="contacts-list list">
    <li class="contacts-list__item">
        <span class="contacts-list__item-title">CAFE</span>
        <p class="contacts-item__title">Chicago</p>
        <p class="contacts-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts-list__wrapper">
            <p class="contacts-item__title">Monday - Friday</p>
            <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
            <p class="contacts-item__title">Saturday - Sunday</p>
            <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="contacts-list__link link" href="tell:61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </li>
    <li class="contacts-list__item">
        <span class="contacts-list__item-text">FOODTRUCK</span>
        <p class="contacts-item__title">Los Angeles</p>
        <p class="contacts-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts-list__wrapper">
            <p class="contacts-item__title">Monday - Friday</p>
            <p class="contacts-item__time" >06:00 AM - 10:00 PM</p>
            <p class="contacts-item__title"> Saturday - Sunday</p>
            <p class="contacts-item__time" >08:00 AM - 16:00 PM</p>
        </div>
        <a class="contacts-list__link link" href="tell:61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </li>
    <li class="contacts-list__item">
        <span class="contacts-list__item-title">CAFE</span>
        <p class="contacts-item__title">New York</p>
        <p class="contacts-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts-list__wrapper">
            <p class="contacts-item__title">Monday - Friday</p>
            <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
            <p class="contacts-item__title">Saturday - Sunday</p>
            <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="contacts-list__link link" href="tell:61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </li>
</ul>
<div class="contacts-wrapper">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="dropdown">
<button class="location-form__btn_dark-theme btn" type="button">Our Locations
    <svg class="location-form__icon_dark-theme" width="15" height="10">
        <use href="./images/sprite.svg#icon-arrow-1"></use>
    </svg></button><div class="dropdown-content">
        <a href="https://www.google.com.ua/maps/place/Чикаго,+Иллинойс,+США/@41.8356068,-88.8527994,8z/data=!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!
        8m2!3d41.8781136!4d-87.6297982?hl=ru" target="_blank" rel="noopener noreferrer">Chicago</a>
        <a href="https://www.google.com.ua/maps/place/Лос-Анджелес,+Калифорния,+США/@34.0207305,-118.6919311,10z/data=!3m1!4b1!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x80c2c75ddc27da13:
        0xe22fdf6f254608f4!8m2!3d34.0526594!4d-118.2458496?hl=ru" target="_blank" rel="noopener noreferrer">Los Angeles</a>
        <a href="https://www.google.com.ua/maps/place/Нью-Йорк,+США/@40.6976701,-74.2598757,10z/data=!3m1!4b1!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!
        8m2!3d40.711874!4d-74.0066528?hl=ru" target="_blank" rel="noopener noreferrer">New York</a>
    </div>
    </div>  
    <div class="dropdown__light-theme">
    <button class="location-form__btn_light-theme" type="button">Franchise
        <svg class="franchise-form__icon_light-theme" width="15" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
    </button><div class="dropdown-content__light-theme">
        <a  rel="noopener noreferrer" target="_blank" href="https://www.google.com.ua/maps/place/Соединенные+Штаты+Америки/@36.2409022,-113.7578546,4z/data=!3m1!4b1!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x54eab584e432360b:0x1c3bb99243deb742!8m2!
        3d39.7747695!4d-101.4038086?hl=ru">USA</a>
        <a  rel="noopener noreferrer" target="_blank" href="https://www.google.com.ua/maps/place/Канада/@50.8475095,-130.2318898,3z/data=!3m1!4b1!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x4b0d03d337cc6ad9:0x9968b72aa2438fa5!8m2!3d57.7745175!4d-101.
        6674805?hl=ru">Canada</a>
        <a  rel="noopener noreferrer" target="_blank" href="https://www.google.com.ua/maps/place/Мексика/@23.3132708,-111.6585494,5z/data=!3m1!4b1!4m13!1m7!3m6!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!3b1!8m2!3d41.8781136!4d-87.6297982!3m4!1s0x84043a3b88685353:0xed64b4be6b099811!8m2!3d23.946096!4d-102.
        5134277?hl=ru">Mexico</a>
    </div></div>
</div>
    </div>    
</section>