<section class="customer-reviews"> 
    <div class="container">
        
        <img class="customer-reviews__img" src="./images/contacsimg1-min.jpg"
            alt="девушка с тёмными кучерявыми волосами">   

        <div class="customer-reviews__position">
            <p class="customer-reviews__position-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        
        <ul class="customer-reviews__list list">
            <li class="customer-reviews__item">
                <svg class="customer-reviews__item-icon" width="4px" , height="4px">
                    <use href="./images/sprite.svg#group-1"></use>
                </svg>
            </li>
            <li class="customer-reviews__item">
                <svg class="customer-reviews__item-icon" width="4px" , height="4px">
                    <use href="./images/sprite.svg#group-1"></use>
                </svg>
            </li>
            <li class="customer-reviews__item">
                <svg class="customer-reviews__item-icon" width="4px" , height="4px">
                    <use href="./images/sprite.svg#group-1"></use>
                </svg>
            </li>
        </ul>
        
        <p class="customer-reviews__name">
            Emily, Los Angeles
        </p>
        
        <ul class="customer-reviews__list list">
            <li class="customer-reviews__item">
                <svg class="customer-reviews__item-icon" width="12px" , height="12px">
                    <use href="./images/sprite.svg#home"></use>
                </svg>
            </li>
            <li class="customer-reviews__item">
                <svg class="customer-reviews__item-icon" width="12px" , height="12px">
                    <use href="./images/sprite.svg#ellipse-1"></use>
                </svg>
            </li>
            <li class="customer-reviews__item">
                <svg class="customer-reviews__item-icon" width="12px" , height="12px">
                    <use href="./images/sprite.svg#ellipse-1"></use>
                </svg>
            </li>
        </ul>
    </div>

</section>