<footer class="page-footer">
    <div class="container footer-container">
       <div class="footer-content">
           <div class="text" >
               <p class="text__item">HOMEMADE ICE CREAM 
               </p>
               <p class="text__list">WITH PASSION
              </p>
         </div>
        <div class="footer-social">
             <ul class="footer-social__list list">
                 <li class="footer-social__item">
                    <a class="footer-social__link link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-social__icon" width="34" height="34">
                            <use href="./images/sprite.svg#github">
                            </use>
                        </svg>
                    </a>
                 </li>
                 <li class="footer-social__item">
                    <a class="footer-social__link link" href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-social__icon" width="34" height="34">
                            <use href="./images/sprite.svg#telegram">
                            </use>
                        </svg>
                    </a>
                 </li>
                 <li class="footer-social__item">
                    <a class="footer-social__link link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-social__icon" width="34" height="34">
                            <use href="./images/sprite.svg#facebook">
                            </use>
                        </svg>
                    </a>
                 </li>
             </ul>
                <p class="address__item">Feel free to contact <a class="address__link page-footer__contact link" href="tel:610383766284">+61 (0) 383 766 284
                </a>
            </p>

          </div>
        </div>
          <div class="rights">
            <p class="rights__item">
                &copy;  2019 - IceCream. All Rights Reserved.
            </p>
        </div>      
   
</div>
 </footer>