<section class="gallery">
    <div class="container gallery__container">
        <h2 class="visually-hidden">Gallary</h2>
        
        <picture class="gallery-picture">
            <source srcset="./images/desktop/galery_desktop-min.png 1x, ./images/desktop/galery_desktop-min@2x.png 2x"
                media="(min-width: 1080px)">
            <source srcset="./images/tablet/galery_tablet-min.png 1x, ./images/tablet/galery_tablet-min@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/mobile/galery_mob-min.png 1x, ./images/mobile/galery_mob-min@2x.png 2x"
                media="(min-width: 320px)">
            <img class="gallery-image" src="./images/desktop/galery_desktop-min.png" alt="Our gallery" />
        </picture>


    </div>
   
</section>


