<!--HEADER-->
<header class="page-header">
    <div class="page-header__container container">
        <div class="page-header__logo">
            <a href="/" class="logo logo--header">
                <svg class="logo__icon">
                    <use href="./images/sprite.svg#logo-icon"></use>
                </svg>
                <span class="logo__title">IceCream</span>
            </a>
        </div>
        <nav class="nav-menu">
            <ul class="nav-menu__list">
                <li class="nav-menu__item">
                    <a href="/" class="nav-menu__link nav-menu__link--current">Home</a>
                </li>
                <li class="nav-menu__item">
                    <a href="#about" class="nav-menu__link scrollto">About us</a>
                </li>
                <li class="nav-menu__item">
                    <a href="#about" class="nav-menu__link scrollto">How it’s made?</a>
                </li>
                <li class="nav-menu__item">
                    <a href="#products" class="nav-menu__link scrollto">Our products</a>
                </li>
                <li class="nav-menu__item">
                    <a href="#contact" class="nav-menu__link scrollto">Contact</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="page-header__menu-button" data-menu-button>
            <svg aria-label="mobile menu switch button" class="page-header__icon">
                <use href="./images/sprite.svg#icon-burger" class="page-header__icon-menu"></use>
            </svg>
        </button>

        <button type="button" class="button button--primary page-header__buy-button" data-modal-open>
            Buy now
            <svg class="button__arrow-icon">
                <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>

    <!-- MOBILE MENU -->
    <div class="mobile-menu" data-menu>
        <button type="button" class="button button--primary mobile-menu__buy-button" mobile-modal-open>
            Buy now
            <svg class="button__arrow-icon">
                <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
        <button type="button" class="mobile-menu__close-button" data-menu-close>
            <svg class="mobile-menu__button-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <!-- MOBILE NAV MENU -->
        <nav class="mobile-nav-menu">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a href="/" class="mobile-menu__link mobile-menu__link--current home-link">Home</a>
            </li>
            <li class="mobile-menu__item">

                <a href="#about" class="mobile-menu__link scrollto about-link">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#about" class="mobile-menu__link scrollto about-milk-link">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#products" class="mobile-menu__link scrollto products-link">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#contact" class="mobile-menu__link scrollto contact-link">Contact</a>

            </li>
        </ul>
        </nav>
    </div>
</header>