<!--HERO-->
<section class="hero">
    <div class="hero__overlay">

        <!-- HERO HEADER -->
        <div class="hero__container">
            <div class="hero__header-content">
                <h1 class="hero__header">ice cream made with
                    <span class="hero__header hero__header--accent">Passion</span>
                </h1>
                <!-- HERO BUTTONS -->
                <div class="hero__button">
                    <button type="button button--primary" class="button">Products</button>
                    <button type="button button--secondary" class="button">How it’s made?</button>
                </div>
            </div>

            <!-- HERO LEFT INFO-->
            <div class="hero__left-info">
                <p class="hero__info-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                </p>
                <div class="hero__info-button">
                    <a class="hero__button-link" href="">
                        <svg class="hero__button-image" width="26" height="26">
                            <use href="" class="hero__button-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- HERO BACKGROUND IMAGES -->
            <div class="hero__background-images">
                <div class="hero__milk">
                    <img src="" alt="" class="hero__milk-image">
                </div>
                <div class="hero__ellipse">
                    <img src="" alt="" class="hero__ellipse-image">
                </div>
                <div class="hero__ice-cream">
                    <img src="" alt="" class="hero__ice-cream-image">
                </div>
                <div class="hero__tasty">
                    <img src="" class="hero__tasty-image">
                </div>
            </div>

            <!-- HERO RIGHT INFO -->
            <div class="hero__right-info">
                <ul class="hero__info-items">
                    <li class="hero__info-item">
                        <p class="hero__points-item">16</p>
                        <span class="hero__points-text">cafes</span>
                    </li>
                    <li class="hero__info-item">
                        <p class="hero__points-item">23</p>
                        <span class="hero__points-text">food trucks</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>