<!--HERO-->
<section class="hero">
    <div class="hero__container container">

        <!-- HERO ICE CREAM BACKGROUND IMAGE -->
        <div class="hero__ice-cream">
            <picture class="hero__ice-cream-picture">
                <source media="(min-width:1280px)"
                    srcset="./images/desktop/hero-ice-cream-desktop.png 1x, ./images/desktop/hero-ice-cream-desktop@2x.png 2x" />
                <source media="(min-width:768px)"
                    srcset="./images/tablet/hero-ice-cream-tablet.png 1x, ./images/tablet/hero-ice-cream-tablet@2x.png 2x" />
                <img class="hero__icecream-bg"
                    srcset="./images/mobile/hero-ice-cream.png 1x, ./images/mobile/hero-ice-cream@2x.png 2x"
                    src="./images/mobile/hero-ice-cream.png" loading="lazy" alt="ice cream">
            </picture>
        </div>

        <!-- HERO GIRL WITH ICE CREAM BACKGROUND IMAGE -->
        <div class="hero__girl">
            <picture class="hero__girl-picture">
                <source media="(min-width:1280px)"
                    srcset="./images/desktop/hero-girl-desktop.png 1x, ./images/desktop/hero-girl-desktop@2x.png 2x" />
                <source media="(min-width:768px)"
                    srcset="./images/tablet/hero-girl-tablet.png 1x, ./images/tablet/hero-girl-tablet@2x.png 2x" />
                <img class="hero__icecream-bg"
                    srcset="./images/mobile/hero-girl.png 1x, ./images/mobile/hero-girl@2x.png 2x"
                    src="./images/mobile/hero-girl.png" loading="lazy" alt="girl with ice cream">
            </picture>
        </div>

        <!-- HERO CONTENT -->
        <div class="hero__content">

            <!-- HERO HEADER INFO-->
            <div class="hero__header-content">
                <h1 class="hero__header">ice cream made with
                    <span class="hero__header-text hero__header-text--accent">Passion</span>
                </h1>
                <!-- HERO BUTTONS -->
                <ul class="hero__buttons">
                    <li class="hero__button-item">
                        <a class="button button--secondary hero__button-link" href="" type="button">Products</a>
                    </li>
                    <li class="hero__button-item">
                        <a class="button button--primary hero__button-link" href="" type="button">How it’s made?</a>
                    </li>
                </ul>
            </div>
            <!-- HERO POINTS INFO -->
            <div class="hero__right-info">
                <ul class="hero__info-items">
                    <li class="hero__info-item">
                        <div class="hero__top-circle"></div>
                        <p class="hero__points-item">16</p>
                        <span class="hero__points-text">cafes</span>
                    </li>
                    <li class="hero__info-item">
                        <div class="hero__bottom-circle"></div>
                        <p class="hero__points-item">23</p>
                        <span class="hero__points-text">food trucks</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- HERO ABOUT MILK INFO-->
        <div class="hero__left-info">
            <!-- HERO MILK BACKGROUND IMAGE -->
            <div class="hero__milk">
                <picture class="hero__milk-picture">
                    <source media="(min-width:1280px)"
                        srcset="./images/desktop/hero-milk-desktop.png 1x, ./images/desktop/hero-milk-desktop@2x.png 2x" />
                    <source media="(min-width:768px)"
                        srcset="./images/tablet/hero-milk-tablet.png 1x, ./images/tablet/hero-milk-tablet@2x.png 2x" />
                    <img class="hero__icecream-bg"
                        srcset="./images/mobile/hero-milk.png 1x, ./images/mobile/hero-milk@2x.png 2x"
                        src="./images/mobile/hero-milk.png" loading="lazy" alt="milk">
                </picture>
            </div>
            <div class="hero__info-block">
                <p class="hero__info-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                </p>
                <a class="hero__arrow-link" href="">
                    <svg class="hero__arrow-image">
                        <use href="./images/sprite-main-icons.svg#hero-arrow-icon" class="hero__button-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>