<!-- МОДАЛЬНОЕ ОКНО -->
<div class="backdrop backdrop--hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__close-button" data-modal-close>
            <svg class="modal__button-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <form class="form js-feedback-form">
            <h2 class="form__header">
                Drop us a message! <br>
                <span class="form__header-text">We'll definitely get back to you</span>
            </h2>

            <!-- Имя -->
            <label class="form__field">
                <span class="form__label">Name</span>
                <input class="form__input" type="text" name="user-name" autocomplete="off" placeholder="Full Name" />
                <svg class="form__icon" width="18" height="18">
                    <use href="./images/sprite.svg#icon-person"></use>
                </svg>
            </label>

            <!-- Почта -->
            <label class="form__field">
                <span class="form__label">Email</span>
                <input class="form__input" type="email" name="user-email" autocomplete="off" placeholder="Email Address" />
                <svg class="form__icon" width="18" height="18">
                    <use href="./images/sprite.svg#icon-email"></use>
                </svg>
            </label>

            <!-- Комментарий -->
            <label class="form__field form__field--comments">
                <span class="form__label">Your message</span>
                <textarea class="form__textarea" name="user-comments" rows="5" placeholder="Leave your message here "></textarea>
            </label>

            <!-- Соглашение с рассылкой -->
            <div class="checkbox">
                <label class="checkbox__label">
                    <input type="checkbox" name="checkbox" class="checkbox__input visually-hidden" />
                    <span class="checkbox__icon"></span>
                    <span>I agree to <a href="" class="checkbox__link">Conditions of Use and Privacy Notice</a></span>
                </label>
            </div>

            <!-- Кнопка -->
            <div class="form__button">
                <button type="submit" class="button button--secondary" submit-modal-close>Send message</button>
            </div>
        </form>
    </div>
</div>