<section class="products">
    <div class="products__container container">
    <p id="products" class="products__label">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products-list list">
        <li class="products-list__item products-list__item_ice-cream ice-cream">
            <h3 class="products-list__subtitle">Ice cream</h3>
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products-list__btn" type="button">
                <svg class="products-list__icon" width="10" height="10">
                    <use href="./images/sprite.svg#pointer"></use>
                </svg>
            </button>
            <!-- ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ -->
            <!-- <p class="products-list__overlay">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta animi, asperiores voluptates explicabo magnam rem suscipit
                laboriosam adipisci accusantium reprehenderit..
            </p> -->
        </li>
        <li class="products-list__item products-list__item_ice-coffee ice-coffee">
            <h3 class="products-list__subtitle">Ice coffee</h3>
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products-list__btn" type="button">
                <svg class="products-list__icon" width="10" height="10">
                    <use href="./images/sprite.svg#pointer"></use>
                </svg>
            </button>
            <!-- ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ -->
            <!-- <p class="products-list__overlay">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta animi, asperiores voluptates explicabo magnam rem suscipit
                laboriosam adipisci accusantium reprehenderit..
            </p> -->
        </li>
        <li class="products-list__item products-list__item_milkshakes milkshakes">
            <h3 class="products-list__subtitle">Milkshakes</h3>
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products-list__btn" type="button">
                <svg class="products-list__icon" width="10" height="10">
                    <use href="./images/sprite.svg#pointer"></use>
                </svg>
            </button>
            <!-- ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ -->
            <!-- <p class="products-list__overlay">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta animi, asperiores voluptates explicabo magnam rem suscipit
                laboriosam adipisci accusantium reprehenderit..
            </p> -->
        </li>
    </ul>
    </div>
</section>