<section class="products">
    <p class="products__label">100% natural</p>
    <h2 class="products_title">Products</h2>
    <ul class="products-list">
        <li>
            <h3 class="products-list__subtitle">Ice cream</h3>
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products-list__btn" type="button">
                <svg class="products-list__icon" width="" height="">
                    <use></use>
                </svg>
            </button>
            <!-- ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ -->
            <p class="products-list__overlay">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta animi, asperiores voluptates explicabo magnam rem suscipit
                laboriosam adipisci accusantium reprehenderit..
            </p>
        </li>
        <li>
            <h3 class="products-list__subtitle">Ice coffee</h3>
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products-list__btn" type="button">
                <svg class="products-list__icon" width="" height="">
                    <use></use>
                </svg>
            </button>
            <!-- ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ -->
            <p class="products-list__overlay">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta animi, asperiores voluptates explicabo magnam rem suscipit
                laboriosam adipisci accusantium reprehenderit..
            </p>
        </li>
        <li>
            <h3 class="products-list__subtitle">Milkshakes</h3>
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products-list__btn" type="button">
                <svg class="products-list__icon" width="" height="">
                    <use></use>
                </svg>
            </button>
            <!-- ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ -->
            <p class="products-list__overlay">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta animi, asperiores voluptates explicabo magnam rem suscipit
                laboriosam adipisci accusantium reprehenderit..
            </p>
        </li>
    </ul>
</section>