.about {
  background-color: var(--background-color);

  @media screen and (min-width: 768px) and (max-width: 1279.9px) {
    padding-top: 130px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .container__wrapper-milk {
    padding-top: 125px;
    padding-bottom: 55px;
    background-position-y: 88%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/mobile/aboutmilk_mob-min.png);
  }
}

@media screen and (min-width: 1280px) {
  .container__wrapper-milk {
    padding-top: 125px;
    padding-bottom: 65px;
    background-position-y: 80%;
    background-position-x: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/desktop/aboutmilk_desktop-min.png);
  }
}

.about__label {
  display: block;

  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;
  color: var(--background-color-hero);
}

.about__title {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--burger-icon-color);
}

.about__item {
  font-family: DM Sans;
  margin-top: 45px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #000000;

  &:last-child {
    color: #907e82;
  }
}

.about__button {
  font-family: DM Sans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 15px;
  padding: 12px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--burger-icon-color);
  background-color: #ffffff;
  border-radius: 22px;
  border: none;

  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
    cursor: pointer;
  }
}

.about__button-icon {
  margin-left: 14px;
  width: 8px;
  height: 12px;

  fill: var(--burger-icon-color);
}

.about-list__wraper {
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .about__label {
    font-size: 26px;
  }

  .about__title {
    margin-bottom: 50px;
    font-size: 48px;
  }

  .about__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-list__wraper {
    margin-left: 17px;
    margin-right: 0;
  }

  .about__item {
    font-size: 14px;
    line-height: 1.76;

    &:last-child {
      letter-spacing: 0.04em;
    }
  }

  .about__button {
    margin-top: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
  }

  .about__title {
    margin-bottom: 55px;
    font-size: 58px;
  }

  .about__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-list__wraper {
    margin-left: 74px;
    margin-right: 0;
  }

  .about__item {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;

    &:last-child {
      margin-top: 35px;
    }
  }

  .about__button {
    margin-top: 45px;
  }
}
