.about {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: var(--background-color);
}

.about__label {
  display: block;

  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;
  color: var(--background-color-hero);
}

.about__title {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--burger-icon-color);
}

.about_wraper {
}

.about__list {
  margin-left: 50px;
  margin-right: 50px;

  // @media screen and (min-width: 320px) and (max-width: 480px) {
  //   background-image: url(./images/mobile/aboutmilk_mob-min.png);
  // }
}

.about__item {
  margin-top: 45px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #000000;

  &:last-child {
    color: #907e82;
  }
}

.about__button {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  width: 176px;
  padding: 10px 35px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: var(--burger-icon-color);
  background: #ffffff;
  border-radius: 22px;
  border: none;
}

.about-list__wraper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .about__label {
    font-size: 26px;
  }

  .about__title {
    font-size: 48px;
  }

  .about__wraper {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
  }

  .about__title {
    font-size: 58px;
  }

  .about__wraper {
    display: flex;
  }
}
