<<<<<<< Updated upstream
=======
.about {
  background-color: var(--background-color);
}

.about_label {
  display: block;
  padding-top: 125px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;
  color: var(--background-color-hero);
}

.about_title {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--burger-icon-color);
}

.about_text {
}
>>>>>>> Stashed changes
