.page-footer {
    background-color: var(--background-color);
  }

  .page-footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    text-align: center;
  }
  
  .address__item {
    margin-bottom: 9px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .address__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--primary-bg-colour);
  }
  
  .page-footer__contact {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-colour);
    margin-bottom: 20px;
  }
  
  .footer-social__list {
    display: flex;
  }
  
  .footer-social__item {
    width: calc((100%-30px) / 4);
    margin-right: 10px;
  }
  
  .footer-social__item:last-child {
    margin-right: 0;
  }
  
  .footer-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--primary-bg-colour);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
  
    &:hover,
    &:focus {
      background-color: var(--accent-colour);
    }
  }
  
  .subscription {
    display: block;
    margin-top: 60px;
  }
  
  .subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--primary-bg-colour);
  }
  
  .subscription__form {
    margin-top: 20px;
  }
  
  .subscription__email {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--back-color);
    color: rgba(255, 255, 255, 0.6);
  
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .subscription__button {
    padding: 10px 28px;
    justify-content: center;
  }
  
  .button__icon {
    margin-left: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .footer-social {
      display: block;
      text-align: center;
      width: 206px;
      margin: 60px auto 0;
    }
  
    .subscription__button {
      margin: 20px auto 0;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-content {
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  
    .footer-social {
      display: block;
      text-align: center;
      margin: 0 0 0 165px;
    }
  
    .subscription {
      display: flex;
      flex-direction: column;
    }
  
    .subscription__email {
      width: 450px;
      margin: 0 auto;
    }
    .subscription__button {
      margin: 20px auto 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .page-footer .container {
      display: flex;
      align-items: baseline;
      text-align: unset;
    }
  
    .footer-content {
      display: flex;
      align-items: baseline;
    }
  
    .footer-social {
      margin-left: 70px;
    }
  
    .subscription {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 93px;
    }
  
    .subscription__form {
      display: flex;
    }
  
    .subscription__email {
      width: 358px;
      height: 50px;
      margin-right: 12px;
    }
  
    .subscription__button {
      padding: 10px 28px;
      justify-content: center;
    }
  }