.hero-section {
  width: 100%;
  height: 418px;

  @media screen and (min-width: 768px) {
    height: 334px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 502px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: var(--background-color-hero);
  overflow: hidden;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .hero {
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 665px;
  }
}

.hero__container {
  display: flex;
  height: 100%;

  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 150px;
    padding-bottom: 45px;
  }
}

.hero__ice-cream {
  position: absolute;
  bottom: 0;
  z-index: -1;
  transform: translateX(-50%);

  @media screen and (min-width: 320px) {
    left: 63%;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.9px) {
    left: 58%;
  }
  @media screen and (min-width: 1280px) {
    left: 57%;
  }

  &::after {
    content: '';
    position: absolute;
    top: -25px;
    left: 65%;

    transform: translateX(-50%);

    width: 346px;
    height: 346px;
    border-radius: 50%;
    z-index: -2;

    background-color: var(--secondary-accent-color);

    @media screen and (min-width: 768px) and (max-width: 1279.9px) {
      width: 324px;
      height: 322px;
    }

    @media screen and (min-width: 1280px) {
      top: -50px;
      width: 538px;
      height: 538px;
    }
  }
}

.hero__girl {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: -1;
}

.hero__content {
  @media screen and (min-width: 768px) {
    // margin-bottom: 19px;
    width: 100%;
  }
}

.hero__header {
  width: 218px;
  margin-bottom: 19px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 38px;
    line-height: 44px;
  }
}

.hero__header-text {
  &--accent {
    font-size: 48px;
    line-height: 46px;
    color: var(--accent-color);

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 52px;
    }
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
}

.hero__button-item {
  &:first-child {
    margin-right: 9px;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
  }
}

.hero__button-link {
  padding: 8px 15px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.hero__right-info {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero__info-items {
  text-align: right;
}

.hero__info-item {
  position: relative;

  &:first-child {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 768px) {
  .hero__top-circle,
  .hero__bottom-circle {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 85%;
    background-color: var(--primary-background-color);
    z-index: -1;
  }
}

.hero__points-item {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 53px;
  }
}

.hero__points-text {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.hero__left-info {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    margin-right: auto;
  }
}

.hero__info-block {
  display: flex;
  flex-direction: column;
}

.hero__info-title {
  width: 114px;
  margin-bottom: 7px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;

  color: var(--primary-text-color);

  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    line-height: 20px;
  }
}

.hero__arrow-link {
  color: var(--primary-background-color);
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.hero__arrow-image {
  width: 20px;
  height: 20px;
  fill: currentColor;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.hero__background-images {
  display: none;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
