.ice-cream {
  background-color: var(--background-color-hero);
}
.ice-coffee {
  background-color: var(--icecoffe-bg-color);
}
.milkshakes {
  background-color: var(--milkshake-bg-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__container {
    position: relative;
    width: 320px;
    margin: 0 auto;
  }
  .products {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 98px;
    background-color: var(--primary-background-color);

    &__label {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--secondary-accent-color);
    }
    &__title {
      margin-bottom: 144px;
      font-weight: 400;
      font-size: 34px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--accent-color);
    }
  }
  .products-list {
    display: flex;
    flex-direction: column;

    &__item {
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      width: 280px;
      height: 485px;
      border-radius: 24px;

      &:not(:last-child) {
        margin-bottom: 129px;
      }
    }

    &__subtitle {
      padding-top: 161px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--primary-text-color);
    }
    &__description {
      margin-bottom: 30px;
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--primary-text-color);
    }
  }
  .products-list__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    border-style: unset;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .products-list__btn:hover,
  .products-list__btn:focus {
    background-color: var(--accent-color);
  }

  .products-list__icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .products-list__btn:hover .products-list__icon,
  .products-list__btn:focus .products-list__icon {
    fill: var(--primary-background-color);
  }

  .products-list__subtitle::after {
    content: '';
    position: relative;
    left: 45%;
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    background-image: url('../images/mobile/group-4-mobile-min.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__subtitle::after {
      background-image: url('../images/mobile/group-4-mobile-min@2x.png');
      background-size: 26px 6px;
    }
  }

  .products-list__item_ice-cream::before {
    content: '';
    position: absolute;
    display: block;
    top: 124px;
    left: 32px;
    width: 249px;
    height: 252px;
    background-image: url('../images/mobile/product-ice-cream_mob-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item-ice-cream::before {
      background-image: url('../images/mobile/product-ice-cream_mob@2x-min.png');
      background-size: 249px 252px;
    }
  }

  .products-list__item_ice-coffee::before {
    content: '';
    position: absolute;
    display: block;
    top: 740px;
    left: 32px;
    width: 249px;
    height: 252px;
    background-image: url('../images/mobile/product-icecoffee_mob-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_ice-coffee::before {
      background-image: url('../images/mobile/product-icecoffee_mob@2x-min.png');
      background-size: 249px 252px;
    }
  }

  .products-list__item_milkshakes::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 362px;
    left: 32px;
    width: 249px;
    height: 252px;
    background-image: url('../images/mobile/product-milkshakes_mob-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_milkshakes::before {
      background-image: url('../images/mobile/product-milkshakes_mob@2x-min.png');
      background-size: 249px 252px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    position: relative;
  }
  .products {
    text-align: center;
    padding-top: 122px;
    padding-bottom: 112px;
    background-color: var(--primary-background-color);

    &__label {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--secondary-accent-color);
    }

    &__title {
      margin-bottom: 150px;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--accent-color);
    }
  }
  .products-list {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;

    &__item {
      margin-top: 20px;
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 20px;
      flex-basis: calc(100% / 3 - 20px);
      width: 220px;
      height: 485px;
      border-radius: 24px;
    }

    &__subtitle {
      padding-top: 152px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--primary-text-color);
    }
    &__description {
      margin-bottom: 40px;
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.76;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--primary-text-color);
    }
  }
  .products-list__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    border-style: unset;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .products-list__btn:hover,
  .products-list__btn:focus {
    background-color: var(--accent-color);
  }

  .products-list__icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .products-list__btn:hover .products-list__icon,
  .products-list__btn:focus .products-list__icon {
    fill: var(--primary-background-color);
  }

  .products-list__subtitle::after {
    content: '';
    position: relative;
    left: 45%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url('../images/tablet/group-4-tablet-min.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__subtitle::after {
      background-image: url('../images/tablet/group-4-tablet@2x-min.png');
      background-size: 26px 6px;
    }
  }

  .products-list__item_ice-cream::before {
    content: '';
    position: absolute;
    display: block;
    top: 152px;
    left: 32px;
    width: 220px;
    height: 226px;
    background-image: url('../images/tablet/product-ice-cream_tablet-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_ice-cream::before {
      background-image: url('../images/tablet/product-ice-cream_tablet@2x-min.png');
      background-size: contain;
    }
  }

  .products-list__item_ice-coffee::before {
    content: '';
    position: absolute;
    display: block;
    top: 148px;
    left: 274px;
    width: 220px;
    height: 233px;
    background-image: url('../images/tablet/product-icecoffee_tablet-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_ice-coffee::before {
      background-image: url('../images/tablet/product-icecoffee_tablet@2x-min.png');
      background-size: contain;
    }
  }

  .products-list__item_milkshakes::before {
    content: '';
    position: absolute;
    display: block;
    top: 156px;
    right: 32px;
    width: 220px;
    height: 224px;
    background-image: url('../images/tablet/product-milkshakes_tablet-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_milkshakes::before {
      background-image: url('../images/tablet/product-milkshakes_tablet@2x-min.png');
      background-size: contain;
    }
  }
}

@media screen and (min-width: 1280px) {
  .products__container {
    position: relative;
  }
  .products {
    text-align: center;
    padding-top: 127px;
    padding-bottom: 120px;
    background-color: var(--primary-background-color);

    &__label {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--secondary-accent-color);
    }
    &__title {
      margin-bottom: 260px;
      font-weight: 400;
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--accent-color);
    }
  }
  .products-list {
    display: flex;
    margin-top: -24px;
    margin-left: -24px;

    &__item {
      margin-top: 24px;
      margin-left: 24px;
      padding-left: 44px;
      padding-right: 44px;
      flex-basis: calc(100% / 3 - 24px);
      width: 330px;
      height: 525px;
      border-radius: 24px;
    }

    &__subtitle {
      padding-top: 163px;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.13;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--primary-text-color);
    }
    &__description {
      margin-bottom: 62px;
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.75;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--primary-text-color);
    }
  }
  .products-list__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    border-style: unset;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .products-list__btn:hover,
  .products-list__btn:focus {
    background-color: var(--accent-color);
  }

  .products-list__icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .products-list__btn:hover .products-list__icon,
  .products-list__btn:focus .products-list__icon {
    fill: var(--primary-background-color);
  }

  .products-list__subtitle::after {
    content: '';
    position: relative;
    left: 45%;
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    background-image: url('../images/desktop/group-4-min.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__subtitle::after {
      background-image: url('../images/desktop/group-4@2x-min.png');
      background-size: 26px 6px;
    }
  }

  .products-list__item_ice-cream::before {
    content: '';
    position: absolute;
    display: block;
    top: 166px;
    left: 14px;
    width: 335px;
    height: 335px;
    background-image: url('../images/desktop/product-ice-cream_desktop-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item-ice-cream::before {
      background-image: url('../images/desktop/product-ice-cream_desktop@2x-min.png');
      background-size: 335px;
    }
  }

  .products-list__item_ice-coffee::before {
    content: '';
    position: absolute;
    display: block;
    top: 166px;
    left: 374px;
    width: 335px;
    height: 335px;
    background-image: url('../images/desktop/product-icecoffee_desktop-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_ice-coffee::before {
      background-image: url('../images/desktop/product-icecoffee_desktop@2x-min.png');
      background-size: 335px;
    }
  }

  .products-list__item_milkshakes::before {
    content: '';
    position: absolute;
    display: block;
    top: 166px;
    right: 14px;
    width: 335px;
    height: 335px;
    background-image: url('../images/desktop/product-milkshakes_desktop-min.png');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products-list__item_milkshakes::before {
      background-image: url('../images/desktop/product-milkshakes_@2x-min.png');
      background-size: 335px;
    }
  }
}
